body {
    font-family: Arial, sans-serif;
    background-color: #f9f9f9;
}

header {
    background: #50b3a2;
    color: #ffffff;
    padding-top: 20px;
    min-height: 70px;
    border-bottom: #e8491d 3px solid;
}

header a {
    color: #ffffff;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 16px;
}

header ul {
    padding: 0;
    list-style: none;
}

header li {
    float: left;
    display: inline;
    padding: 0 20px;
}

header #branding {
    float: left;
}

header #branding h1 {
    margin: 0;
    font-size: 24px;
}

header nav {
    float: right;
    margin-top: 10px;
}

header .highlight, header .current a {
    color: #e8491d;
    font-weight: bold;
}

header a:hover {
    color: #cccccc;
    font-weight: bold;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
    overflow: auto;
}

h2 {
    margin-top: 20px;
}

.form-group {
    margin-bottom: 15px;
}

.form-control::placeholder {
    color: #bbb;
    opacity: 1;
}

.info-box {
    background-color: #e7f3fe;
    border-left: 6px solid #2196F3;
    margin-bottom: 15px;
    padding: 10px;
}
